
This is my first python project never did it before but 
let's see how it goes. A really simple project need skills 
like os module, pathlib, shutil. And then start with the main 
work probably.

"""
requirements.txt
For now it may even stay empty because you are using built-in Python libraries.
External libraries:
watchdog
tkinter
customtkinter
"""
